<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/images/favicon.ico' rel="icon" type="image/ico" />
    <title>Trang Quản Trị </title>
    <!-- Custom fonts for this template-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link href="/components/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/components/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <!-- Bootstrap datepicker-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
        rel="stylesheet" />
    <!-- alertify -->
    <link rel="stylesheet" href="/components/AlertifyJS/css/alertify.min.css" />
    <link rel="stylesheet" href="/components/AlertifyJS/css/themes/default.min.css" />

    <!-- Markdown-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <!-- Markdown and covert to html -->
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/components/showdown/dist/showdown.js"></script>
    <script src="/js/admin.js"></script>

    <!-- Moment-->
    <script src="/components/moment/moment.js"></script>
    <script src="/components/moment/moment-with-locales.js"></script>

    <!-- <script src="/client/assets/libs/fontawesome/all.min.js"></script> -->

    <style>
     .ip-password {
        position: relative;
    }

    .ip-password .icon-pass {
        display: none;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

    }

    </style>
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('includes/sidebar.ejs'); %>
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    <%- include('includes/topbar.ejs'); %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">
                            <%- content %>
                        </div>
                </div>
                <%- include('includes/footer.ejs'); %>
            </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <%- include('includes/library.ejs'); %>
    <script>
            $(document).ready(function () {
                
                $('#oldPassword').click(function (e) {
                     if ($("#oldPassword").val()) {
                        $("#icon-show-pass").hide();
                        $("#icon-hide-pass").show();

                    }
                    $("#icon-show-pass").show();
                    $("#icon-show-pass1").hide();
                    $("#icon-hide-pass1").hide();
                    $("#icon-show-pass2").hide();
                    $("#icon-hide-pass2").hide();
    
                });
                $('#icon-show-pass').click(function (e) {
                    $('#oldPassword').attr("type", "text");
                    $("#icon-show-pass").hide();
                    $("#icon-hide-pass").show();
                });
                $('#icon-hide-pass').click(function (e) {
                    $('#oldPassword').attr("type", "password");
                    $("#icon-show-pass").show();
                    $("#icon-hide-pass").hide();
                });
                $('#oldPassword').click(function (e) {
                    $("#icon-show-pass").show();
    
                });
    
                $('#newPassword').click(function (e) {
                    $("#icon-show-pass1").show();
                    $("#icon-show-pass").hide();
                    $("#icon-hide-pass").hide();
                    $("#icon-show-pass2").hide();
                    $("#icon-hide-pass2").hide();
    
                });
    
                $('#icon-show-pass1').click(function (e) {
                    $('#newPassword').attr("type", "text");
                    $("#icon-show-pass1").hide();
                    $("#icon-hide-pass1").show();
                });
                $('#icon-hide-pass1').click(function (e) {
                    $('#newPassword').attr("type", "password");
                    $("#icon-show-pass1").show();
                    $("#icon-hide-pass1").hide();
                });
    
                $('#confirmPassword').click(function (e) {
                    $("#icon-show-pass").hide();
                    $("#icon-hide-pass").hide();
                    $("#icon-show-pass1").hide();
                    $("#icon-hide-pass1").hide();
                    $("#icon-show-pass2").show();
    
                })
    
                $('#icon-show-pass2').click(function (e) {
                    $('#confirmPassword').attr("type", "text");
                    $("#icon-show-pass2").hide();
                    $("#icon-hide-pass2").show();
                });
                $('#icon-hide-pass2').click(function (e) {
                    $('#confirmPassword').attr("type", "password");
                    $("#icon-show-pass2").show();
                    $("#icon-hide-pass2").hide();
                });
            });
        </script>
</body>

</html>