<%extend("../app.ejs")%>
    <%- include('includes/header.ejs') %>
    <hr>
    <div class="post-all add-clinic">
        <div class="post-all-title add-clinic">
            <div class="container">
                <ul class="bread-cr">
                    <li><a href="/"><i class="fa-solid fa-house"></i></a></li>
                    <li><a href="/">/</a></li>
                    <li><a href="/all-clinics">Cơ sở y tế</a></li>
                </ul>
                <div class="post-all-title-container add-clinic">
                    <h4>Cơ sở y tế</h4>

                </div>
            </div>
        </div>
        <div class="post-all-main add-doctor add-clinic">
            <div class="container">
                <div class="post-all-main-container add-doctor add-clinic">
                    <ul class="post-all-main-list add-doctor add-clinic" id="clinic-all-main-list">
                        <%clns.rows.forEach(function(x){%>
                        <li class="post-all-main-item add-doctor add-clinic">
                            <a href="/detail/clinic/<%=x.id%>" class="post-all-main-link add-clinic">
                                <img src="images/clinics/<%=x.image%>" alt="" width="240" style="object-fit: cover;">
                                <div class="post-all-main-l-desc add-clinic">
                                    <div class="pam-l-d-title add-clinic">
                                        <h3><%=x.name%></h3>
                                    </div>
                                    <div class="doctor-l-main clinic-l-main ">
                                        <i class="fa-solid fa-map-location-dot"></i>
                                        <span><%=x.address%></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                    <%})%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pagination-container">
            <div class="container">
                <nav aria-label="navigation" id="paginationForClinicClient" data-total="<%= total %>">
                    <ul class="pagination">
                        <li class="page-item disabled li-pre-client">
                            <a class="page-link page-clinic-pre-client add-d-c-s" href="#" aria-label="Trước">
                                <span aria-hidden="true">&laquo; Trước</span>
                            </a>
                        </li>

                        <li class="page-item ml-3 li-next-client">
                            <a class="page-link page-clinic-next-client  add-d-c-s" href="#" aria-label="Tiếp">
                                <span aria-hidden="true">Tiếp &raquo; </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>





    </div>
<%- include('includes/hide.ejs') %>
<%- include('includes/expand-navbar.ejs') %>
      <%- include('includes/footer.ejs') %>





