<% extend("master.ejs") %>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Cập nhật thông tin bác sĩ</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-10 mx-auto">
            <form id="formUpdateDoctor">
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="nameDoctor">Chức vị - Họ Tên</label>
                        <input type="text" class="form-control" id="nameDoctor" name="name" placeholder="Chức vị - Họ Tên"
                            value="<%= doctor.name %>">
                    </div>
                    <div class="form-group col-6">
                        <label for="phoneDoctor">Số điện thoại</label>
                        <input type="text" class="form-control" id="phoneDoctor" name="phone"
                            placeholder="Phone number" value="<%= doctor.phone %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="specializationDoctor">Chuyên khoa</label>
                        <select id="specializationDoctor" class="form-control" name="specialization">
                            <% if(doctor.Doctor_User){ %>
                                <% specializations.forEach(function(x) { %>
                                    <option value="<%= x.id %>" <% if(x.id===doctor.Doctor_User.specializationId) {%>
                                        selected <%}%>> <%= x.name %>
                                    </option>
                                    <% }) %>
                                        <%} else {%>
                                            <option selected value="-1">Chọn chuyên khoa</option>
                                            <% specializations.forEach(function(x) { %>
                                                <option value="<%= x.id %>">
                                                    <%= x.value %>
                                                </option>
                                                <% }) %>
                                                    <%}%>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <label for="clinicDoctor">Phòng khám</label>
                        <select id="clinicDoctor" class="form-control" name="clinic">
                            <% if(doctor.Doctor_User){ %>
                                <% clinics.forEach(function(x) { %>
                                    <option value="<%= x.id %>" <% if(x.id===doctor.Doctor_User.clinicId) {%> Selected
                                        <%}%>> <%= x.name %>
                                    </option>
                                    <% }) %>
                                        <%}else {%>
                                            <option selected value="<%=x.id%>">Chọn phòng khám</option>
                                            <% clinics.forEach(function(x) { %>
                                                <option value="<%= x.value %>">
                                                    <%= x.name %>
                                                </option>
                                                <% }) %>
                                                    <%}%>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="price">Giá tiền</label>
                        <select id="price" class="form-control" name="price">
                            <!-- <option selected>Lựa chọn giá tiền</option> -->
                            <% prices.forEach(function(x) { %>
                                <option value="<%= x.keyMap %>" <% if(x.keyMap===doctor.Doctor_User.priceID) {%> Selected
                                    <%}%>> <%= x.value %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="province">Tỉnh thành</label>
                        <select id="province" class="form-control" name="province">
                            <!-- <option selected>Lựa chọn tỉnh thành</option> -->
                            <% provinces.forEach(function(x) { %>
                                <option value="<%= x.keyMap %>" <% if(x.keyMap===doctor.Doctor_User.provinceID) {%> Selected
                                    <%}%>> <%= x.value %>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addressDoctor">Địa chỉ</label>
                    <input type="text" class="form-control" id="addressDoctor" name="address"
                        placeholder="Address" value="<%= doctor.address %>">
                </div>
                <!-- <div class="form-group">
                    <label for="descriptiom">Giới thiệu</label>
                    <textarea id="description" name="description" placeholder="Nhập giới thiệu sơ qua về bác sĩ"
                        class="form-control"><%= doctor.description %></textarea>
                </div> -->
                <div class="form-group">
                    <label for="introEditDoctor">Giới thiệu</label>
                    <textarea id="introJobDoctor" name="introJobDoctor" placeholder="Nhập giới thiệu sơ qua về bác sĩ"
                        class="form-control"><%= doctor.jobDescMarkdown %></textarea>
                </div>

                <div class="form-group">
                    <label for="intro-doctor">Mô tả</label>
                    <textarea id="intro-doctor" class="form-control"><%= doctor.introductionMarkdown %></textarea>
                </div>
                <div class="form-group">
                    <label for="image-doctor">Ảnh đại diện</label>
                    <input type="file" id="image-doctor" accept="image/*" onchange="loadFileDoctor(event)">
                </div>

                <div class="form-group">
                    <% if(doctor.avatar) { %>
                        <img class="img-preview-doctor-create" id="image-preview"
                            src="/images/users/<%= doctor.avatar %>">
                        <% } else { %>
                            <img class="img-preview-doctor-create d-none" id="image-preview">
                            <% } %>
                </div>


                <button type="button" class="btn btn-primary" id="btnUpdateDoctor" data-doctor-id="<%= doctor.id %>">Cập
                    nhật</button>
            </form>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $("div #featureManage").addClass('show');
            $("div #featureManage").find($("#aManageDoctor")).addClass("active");
        })
    </script>